<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641864590057-n86r1ijcli6bobcfb6ktvpjcrd1cselv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641864590057-n86r1ijcli6bobcfb6ktvpjcrd1cselv</string>
	<key>API_KEY</key>
	<string>AIzaSyBIjUwDDwTfonFYQYm6hE35_hT8qUoO3Jk</string>
	<key>GCM_SENDER_ID</key>
	<string>641864590057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AbdullahMQ.masarifi</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ba6fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ba6fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641864590057:ios:71ca7a7878fd62c4e3c678</string>
</dict>
</plist>